<div class="row">
  <div class="col">
    <button class="btn btn-success btn-md" (click)="newUserProfileModal.show()" mdbWavesEffect><i class="fa fa-plus mr10"></i><span>Add User Profile</span></button>
  </div>
</div>

<div mdbModal #newUserProfileModal="mdb-modal" class="modal fade"
     id="newUserProfileModal"
     tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Add User Profile</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="newUserProfileModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="newUserProfile.firstName"
                 id="profileFirstName" >
          <label for="profileFirstName">First Name</label>
        </div>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="newUserProfile.lastName"
                 id="profileLastName" >
          <label for="profileLastName">Last Name</label>
        </div>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="newUserProfile.displayName"
                 id="profileDisplayName" >
          <label for="profileDisplayName">Display Name</label>
        </div>
        <div class="md-form">
          <input mdbActive type="email" class="form-control" [(ngModel)]="newUserProfile.email"
                 id="profileEmail" >
          <label for="profileEmail">Email</label>
        </div>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="newUserProfile.department"
                 id="profileDepartment" >
          <label for="profileDepartment">Department</label>
        </div>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="newUserProfile.team"
                 id="profileTeam" >
          <label for="profileTeam">Team</label>
        </div>
        <div class="md-form">
          <textarea mdbActive class="form-control" rows="5" style="resize: none;" [(ngModel)]="newUserProfile.description"
                 id="profileDescription" ></textarea>
          <label for="profileDescription">Description of Meal preference</label>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="btnSaveClick()">Save Profile</a>
        <a type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="newUserProfileModal.hide()" mdbWavesEffect>Cancel</a>
      </div>
    </div>
  </div>
</div>
