<div mdbModal #editUserProfileModal="mdb-modal" class="modal fade"
     id="editUserProfileModal"
     tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Edit User Profile</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editUserProfileModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="!!userProfile">
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="userProfile.firstName"
                 id="profileFirstName" >
          <label for="profileFirstName">First Name</label>
        </div>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="userProfile.lastName"
                 id="profileLastName" >
          <label for="profileLastName">Last Name</label>
        </div>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="userProfile.displayName"
                 id="profileDisplayName" >
          <label for="profileDisplayName">Display Name</label>
        </div>
        <div class="md-form">
          <input mdbActive type="email" class="form-control" [(ngModel)]="userProfile.email"
                 id="profileEmail" >
          <label for="profileEmail">Email</label>
        </div>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="userProfile.department"
                 id="profileDepartment" >
          <label for="profileDepartment">Department</label>
        </div>
        <div class="md-form">
          <input mdbActive type="text" class="form-control" [(ngModel)]="userProfile.team"
                 id="profileTeam" >
          <label for="profileTeam">Team</label>
        </div>
        <div class="md-form">
          <textarea mdbActive class="form-control" rows="5" style="resize: none;" [(ngModel)]="userProfile.description"
                    id="profileDescription" ></textarea>
          <label for="profileDescription">Description of Meal preference</label>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="btnSaveClick()">Update Profile</a>
        <a type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="editUserProfileModal.hide()" mdbWavesEffect>Cancel</a>
      </div>
    </div>
  </div>
</div>
