<div class="row" *ngIf="!!userProfiles && userProfiles.length">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Team</th>
        <th>Description of Meal</th>
        <th style="min-width:40px; width: 40px !important;">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userProfile of userProfiles" [ngClass]="{'table-warning': selectedUserId === userProfile.userId}">
        <td>{{ userProfile.displayName }}</td>
        <td>{{ userProfile.department }}</td>
        <td>{{ userProfile.team }}</td>
        <td>{{ userProfile.description }}</td>
        <td class="p0"><button class="btn btn-info btn-sm pl10 pr10" (click)="btnViewClick(userProfile.userId)"><i class="fa fa-eye"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
