<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div *ngIf="!!localAlert" id="alertSuccess" class="alert alert-dismissible fade show"
           [ngClass] = "{
           'alert-success': localAlert.success,
           'alert-danger': !localAlert.success
           }"
           role="alert">
        {{ localAlert.msg }}
        <button type="button" class="close" aria-label="Close" (click)="dismissAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div  class="col">
        <div class="card">
          <div class="card-header">
            <app-user-profile-new></app-user-profile-new>
          </div>
          <div class="card-body">
            <app-user-profile-list></app-user-profile-list>
          </div>
        </div>


      </div>
      <div  class="col">
        <app-user-profile-details></app-user-profile-details>
      </div>
    </div>
  </div>
</section>
