<div class="row fadeIn" *ngIf="!!userProfile">
  <div class="col">
    <div class="card" style="width: 22rem;">
      <div class="card-header primary-color white-text">
        {{ userProfile.displayName }}
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ userProfile.team }}</h4>
        <h5 class="card-subtitle">{{ userProfile.department }}</h5>
        <p>{{ userProfile.description }}</p>
      </div>
      <div class="card-footer text-muted white-text">
        <button class="btn btn-warning btn-sm pl10 pr10" (click)="btnEditClick()"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-sm pl10 pr10" (click)="btnTrashClick()"><i class="fa fa-trash"></i></button>
      </div>
    </div>
    <app-user-profile-edit></app-user-profile-edit>
  </div>
</div>
